
.banner-container {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    
}

.banner {
    background-image: url('https://www.shutterstock.com/image-photo/assortment-raw-meats-on-grey-260nw-1766218553.jpg');
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    width: 80%; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    margin: 30px auto; 
    box-sizing: border-box; 
    border-radius: 20px;
    background-repeat: no-repeat;
}

.banner-text {
    display: flex; 
    flex-direction: column; 
}

.banner-title {
    font-size: 2rem; 
    margin: 0; 
    color: white;
}

.banner-subtitle {
    font-size: 1rem; 
    margin-top: 0.5rem; 
    margin: 0; 
    color: white;
}


@media (min-width: 768px) {
    .banner {
        width: 100%; 
    }
}
