
.footer {
    background-color: #f8f9fa; 
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 1 20%; 
    margin: 10px;
    min-width: 200px; 
  }
  
  .footer-logo {
    width: 50px; 
    margin-bottom: 10px;
  }
  
  .app-icons, .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .app-icon, .social-icon {
    width: 50px; 
    height: 50px;
  }
  
  h3 {
    color: #343a40; 
    margin-bottom: 10px;
    font-size: 1.25rem; 
  }
  
  h4 {
    color: #343a40; 
    font-size: 1rem; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
    font-size: 0.9rem; 
  }
  
  .contact-section a {
    color: #007bff; 
    text-decoration: none;
    line-height: 5%;
  }
  .payment-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  .footer-section p {
      margin: 0px!important;
  }
  