


.position-relative {
    position: relative; 
  }
  
  .position-absolute {
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    background: transparent; 
    border: none; 
    color: #495057; 
  }
  
  .shadow-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  
  .nav-link {
    color: black !important; 
  }
  
  .nav-link:hover {
    color: #0056b3; 
  }
  
  .button-link {
    color: black !important; 
    text-decoration: none; 
  }
  
  .button-link:hover {
    color: #0056b3; 
  }
  
  
  .logo {
    width: 60px;
    height:60px ; 
    margin: 0;
    padding: 0; 
    border-radius: 50%;
  }
  
  
  .position-relative {
    position: relative; 
  }
  
  .position-absolute {
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    background: transparent; 
    border: none;
    color: #495057; 
  }
  
  .shadow-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  
  .button-link {
    color: black; 
  }
  