
.custom-container {
    background-color:black;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-title {
    color:white; 
    font-size: 1rem; 
    font-weight: normal; 
    margin-bottom: 20px; 
  }
  
  .custom-text {
    color:white; 
    font-size: 0.9rem; 
    line-height: 1.6; 
  }
  .container{
    max-width: 100% !important;
  }
  
